
<div class="text-center">
    <h1 class="display-1" style="text-align:center; font-size: 50px;">Création d'une Liste de Course</h1>
    <br>
  
    <img src="https://www.tatynanny.com/assets/images/static/home.jpeg" alt="" style="border-radius: 5px; height: auto; width: 800px;">
    <br><br>
    <div style="padding-bottom: 1cm;">
        <button class="btn btn-outline-dark btn-lg" (click)="goCreate()" style="width: 7cm;">Ajouter des aliments</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-outline-dark btn-lg" (click)="goList()" style="width: 7cm;">Liste de course</button>
        <br><br>
        <button class="btn btn-danger" (click)="onSignOut()">Se Déconnecter</button>
        <br><br>
    </div>
    
</div>